.button {
    width: 217px;
    height: 40px;
    color: white;
    text-align: center;
    border-radius: 30px;
    padding-top: 20px;
    @include button_color
}

.button {
    @include shadow
}

.button:hover {
    filter: brightness(110%) saturate(140%);
    @include strongShadow
}


.card__text i {
    padding-right: 10px;
}

.card__text i:hover {
    animation: heart 1000ms alternate both;
    @include heartGradient
}
	
