.button {
    width: 217px;
    height: 40px;
    color: white;
    text-align: center;
    border-radius: 30px;
    padding-top: 20px;
    @include button_color
}

.button {
    @include shadow
}

.button:hover {
    filter: brightness(110%) saturate(140%);
    @include strongShadow
}


.card__text i {
    height: 0px;
    animation: heart 1s ease-in-out;
    padding-right: 20px;
}

.card__text i:hover {
    height: 100%;
    @include heart_color
}