.card__restaurant--laPaletteDuGout {
    width: 200px;
	height: 200px;
	border: 3px solid rgb(241, 79, 79);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: url("../../css/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
	background-size: cover;
	background-position: 100%;
}