.image__bg {
    width: 100%;
    object-fit: cover;
}

.section__restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -50px;
    background-color: $container_bg-color;
}

.title_restaurant {
    position: relative;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    & span i {
        font-weight: 900;
        font-size: 1.5rem;
        padding-top: 5px;
        padding-right: 10px;
        @include heartGradient;
    }
}

.card__heart--opacity {
    font-weight: lighter;
    background-color: white;
    position: absolute;
    right: 0px;
    z-index: 100;
    &:hover {
        animation: heart 3s alternate forwards;
    }
}

.titles {
    font-size: 1.5rem;
    margin-top: 0px;
    @include shrikhand;
    &__heart--opacity {
        font-weight: lighter;
        position: absolute;
        font-size: 1.5rem;
        right: 10px;
        top: 34px;
        z-index: 100;
        &:hover {
            animation: heart 3s alternate forwards;
            cursor: alias;
        }
    }
}

.prix {
    padding-top: 23px;
    padding-right: 20px;
}

.title__menu {
    margin-bottom: 5px;
}

.underLine {
    border-bottom: 3px solid $new_bg-color;
    width: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.entrance, 
.dishes, 
.desserts {
    &__text1,
    &__text2,
    &__text3,
    &__text4 {
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        @include shadow;
    }
}

.entrance, 
.dishes, 
.desserts {
    &__text1 {
        animation: fadein 2s;
    }
    &__text2 {
        animation: fadein 2s .1s;
    }
    &__text3 {
        animation: fadein 2s .2s;
    }
    &__text4 {
        animation: fadein 2s .3s;
    }
}

.dishes, 
.desserts, 
.entrance {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &--bold {
        padding-left: 10px;
        margin-bottom: 5px;
    }
    &--light {
        padding-left: 10px;
        margin-top: 0px;
    }
}

.entrance,
.dishes,
.desserts {
    &__menu {
        z-index: 3;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 15px;
    }
    &__text1:hover,
    &__text2:hover,
    &__text3:hover,
    &__text4:hover {
            border-radius: 20px 0px 0px 20px;
    }
    &__text1:hover + .check--anim,
    &__text2:hover + .check--anim,
    &__text3:hover + .check--anim,
    &__text4:hover + .check--anim {
        animation: checkAnim 400ms alternate both;
        background-color: $check-color;
        @include shadow2;
        & i {
            z-index: 1;
            opacity: 1;
            animation: rotate-center 700ms;
        }
    }
}

.check--anim {
    width: 0%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid transparent;
    background-color: transparent;
}

.entrance i,
.dishes i,
.desserts i {
    opacity: 0;
    margin-top: 20px;
    margin-left: 22px;
    font-size: 2rem;
    color: white;
    align-items: center;
}

.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}


@media screen and (min-width: 1150px) {
    .entrance, .dishes, .desserts {
        position: relative;
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        &__text {
            width: 24%;
            margin-right: 10px;
        }
    }
    .title__menu {
        position: absolute;
        top: 0px;
    }
    .image__bg{
        height: 450px;
    }
    .entrance i,
    .dishes i,
    .desserts i {
        margin-left: 40px;
    }
    .entrance,
    .dishes,
    .desserts {
        position: relative;
        &__menu {
            margin-right: 15px;
        }
    }
    .underLine {
        position: absolute;
        border-bottom: 3px solid $new_bg-color;
        width: 40px;
        top: 40px;
        
    }
}