.image__bg {
    width: 100%;
    object-fit: cover;
}

.section__restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -50px;
    padding-bottom: 50px;
    background-color: $container_bg-color;
}

.title_restaurant {
    position: relative;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    & span i {
        position: absolute;
        font-weight: 900;
        font-size: 1.5rem;
        right: 25px;
        top: 34px;
        @include heartGradient;
    }
}

.card__heart--opacity {
    font-weight: lighter;
    background-color: $container_bg-color;
    position: absolute;
    right: 0px;
    z-index: 100;
    &:hover {
        animation: heart 3s alternate forwards;
    }
}

.titles {
    font-size: 1.5rem;
    margin-top: 0px;
    @include shrikhand;
    &__heart--opacity i {
        font-weight: lighter;
        background-color: $container_bg-color;
        position: absolute;
        font-size: 1.5rem;
        right: 25px;
        top: 34px;
        &:hover {
            animation: heart 3s alternate forwards;
            cursor: alias;
        }
    }
}

.prix {
    width: 30px;
    font-weight: 900;
    padding-top: 23px;
    padding-right: 20px;
    margin-left: 10px;
}

.title__menu {
    margin-bottom: 5px;
}

.underLine {
    border-bottom: 3px solid $new_bg-color;
    width: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}


.entrance, 
.dishes, 
.desserts {
    & :nth-child(3) {
        animation: fadein 2s;
    }
    & :nth-child(4) {
        animation: fadein 2s .1s;
    }
    & :nth-child(5) {
        animation: fadein 2s .2s;
    }
    & :nth-child(6) {
        animation: fadein 2s .3s;
    }
}

.dishes, 
.desserts, 
.entrance {
    width: 90%;
    &--bold {
        font-weight: 600;
        font-size: 1.2rem;
        padding-left: 10px;
        margin-bottom: 5px;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space: nowrap;
    }
    &--light {
        padding-left: 10px;
        margin-top: 0px;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space: nowrap;
    }
}

.entrance {
    &__menu {
        width: 100%;
        z-index: 3;
        margin-bottom: 15px;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        @include shadow;
        &:hover .check--anim {
            animation: checkAnim 400ms alternate both;
            background-color: $check-color;
            display: block;
            & i {
                z-index: 1;
                opacity: 1;
                animation: rotate-center 700ms;
            }
        }
        &:hover .entrance__text {
            border-radius: 20px 0px 0px 20px;
            animation: reduce 400ms linear 0s normal 1 forwards;
            width: 70%;
        }
    }
    &__text {
        width: 70%;
    }
}

.check--anim {
    width: 0%;
    display: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid transparent;
    background-color: transparent;
}

.entrance i,
.dishes i,
.desserts i {
    opacity: 0;
    margin-top: 20px;
    margin-left: 22px;
    font-size: 2rem;
    color: white;
    align-items: center;
}

.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}


@media screen and (min-width: 1150px) {
    .entrance, .dishes, .desserts {
        position: relative;
        padding-top: 50px;
        display: flex;
        flex-direction: row;
    }
    .entrance {
        &__text {
            margin-right: 10px;
        }
    }
    .title__menu {
        position: absolute;
        top: 0px;
    }
    .image__bg{
        height: 450px;
    }
    .entrance {
        &__menu {
            margin-right: 15px;
        }
    }
    .underLine {
        position: absolute;
        border-bottom: 3px solid $new_bg-color;
        width: 40px;
        top: 40px;
    }
    .prix {
        margin-left: 0px;
        margin-right: 0px;
    }
} 