@mixin button_color {  
    background: #E972DA;
    background: linear-gradient(to bottom right, #E972DA, #A25BDB);
} 

@mixin heart_color {
    background: #E06FDB;
    background: linear-gradient(to top, #E06FDB, #B160DB);
}

@mixin heartGradient {
    background: linear-gradient(to bottom right, #E972DA, #A25BDB);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin shrikhand {
    font-family: 'shrikhand', sans-serif;
    
}

@mixin shadow {
    box-shadow: 0px 5px 15px rgb(161, 157, 157);
}

@mixin shadow2 {
    box-shadow: 8px 5px 15px rgb(170, 168, 168);
}

@mixin strongShadow {
    box-shadow: 0px 5px 15px rgb(75, 73, 73);
}