$parisBell_bg-color: #eaeaea;
$footer_bg-color: #353535;
$footer_text-color: #ffffff;
$container_bg-color: #f6f6f6;
$numbers_bg-color: #9356dc;
$hover_button-color: #f5edff;
$animation_button-color: #99e2d0;
$new_bg-color: #99e2d0;
$new_font-color: #008766