$parisBell_bg_color: #eaeaea;
$footer_bg_color: #353535;
$footer_text_color: #ffffff;
$container_bg_color: #f6f6f6;
$numbers_bg_color: #9356dc;
$hover_color_button: #f5edff;
$animation_button_color: #99e2d0;