footer {
    width: 100%;
    background-color: $footer_bg-color;
    color: $footer_text-color;
    height: 300px;
    margin-top: 50px;
}

footer i {
    padding-right: 20px;
    width: 10px;
    height: 10px;
}

footer p {
    margin-left: 30px;
}

footer .titles {
    font-size: 1.3rem;
    padding-top: 25px;
    @include shrikhand
}

@media screen and (min-width: 1150px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
