footer {
    width: 100%;
    background-color: $footer_bg-color;
    color: $footer_text-color;
    height: 200px;
    margin-top: 50px;
}

footer p {
    margin-left: 20px;
}

@media screen and (min-width: 1150px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
